*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.fixed-xs{
  position: none;
  top:none;

}

header{
  display: flex;
  max-width: 100%;
  height: 10vh;
  background-color: #1d1b1c;
}
.central-movie{
  background-color:  #1d1b1c;
}

.central-movie img{
  width: 100%;
  height: 80vh;
}

.central-movie-xs{
    background-color:  #1d1b1c;
    position: sticky;
    top:0;
}

.central-movie-xs img{
  width: 100%;
  border: 2px solid red;
  display: none;
  margin:auto;
}
.movie{
  background-color: #1d1b1c;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie img{
  max-width: 100%;
  padding: 10px;
}

@media screen and (max-width: 660px) {
  .central-movie img{
    display: none;

  }

  .movie img{
    max-width: 100%;

  }

  .central-movie-xs img{
    display: block;
    position: sticky;
    top:0;
  }



}
